.crd-degraded-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 400px;
  height: 500px;
  background-color: transparent;
  border-radius: 24px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.19);
  position: relative;
  transition: transform 0.3s ease-in-out;

  .text-section {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    width: 100%;
    height: 100%;
    padding: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 24px;
    overflow: hidden;
    color: var(--color-white);
    transition: height 0.5s ease-in-out,
    border-radius 0.5s ease-in-out,
    background-color 0.5s ease-in-out,
    color 0.5s ease-in-out;

    p {
      font-family: var(--font-secondary), sans-serif;
      text-shadow: var(--box-shadow-text);
      text-align: start;
      font-size: var(--font-size-text);
      width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: color 0.5s ease-in-out;
    }

    .title {
      font-weight: bold;
      color: var(--color-white);
    }

    .subtitle {
      color: var(--color-dark-gray);
    }
  }

  shared-btn-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    width: 100%;
    height: auto;
    padding: 24px;
    opacity: 0;
    transition: opacity 0.2s ease-in
  }

  &:hover {
    transform: scale(1.01);

    .text-section {
      background-color: var(--color-white);
      height: 90px;
      border-radius: 0 0 22px 22px;

      .title {
        color: var(--text-color);
      }
    }

    shared-btn-icon {
      opacity: 1;
      transition: opacity 1s ease-out;
    }
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:24px;
  }
}
