.container{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--font-secondary), sans-serif;
  font-size: var(--font-size-text);
  padding: 16px 24px;
  border-radius: 12px;
}

.style1 {
  background-color: var(--color-primary);
  color: var(--color-white);

  p {
    background-color: var(--color-primary);
  }

  &:hover {
    color: var(--color-primary);
    background-color: var(--color-gray);
    cursor: pointer;

    p {
      background-color: var(--color-gray);
    }
  }
}

.style2 {
  background-color: var(--color-secondary);
  color: var(--color-white);

  p {
    background-color: var(--color-secondary);
  }

  &:hover {
    color: var(--color-secondary);
    background-color: var(--color-gray);
    cursor: pointer;

    p {
      background-color: var(--color-gray);
    }
  }
}

.style3 {
  background-color: var(--color-primary);
  color: var(--color-white);

  p {
    background-color: var(--color-primary);
  }

  &:hover {
    background-color: var(--color-primary-hover);
    cursor: pointer;

    p {
      background-color: var(--color-primary-hover);
    }
  }
}

.style4 {
  background-color: var(--color-secondary);
  color: var(--color-white);

  p {
    background-color: var(--color-secondary);
  }

  &:hover {
    background-color:  var(--color-secondary-hover);
    cursor: pointer;

    p {
      background-color: var(--color-secondary-hover);
    }
  }
}

.style5 {
  background-color: var(--color-white);
  color: var(--color-primary);

  p {
    background-color: var(--color-white);
  }

  &:hover {
    color: var(--color-primary);
    background-color:  var(--color-gray);
    cursor: pointer;

    p {
      background-color: var(--color-gray);
    }
  }
}

.style6 {
  background-color: var(--color-white);
  color: var(--color-secondary);

  p {
    background-color: var(--color-white);
  }

  &:hover {
    color: var(--color-secondary);
    background-color:  var(--color-gray);
    cursor: pointer;

    p {
      background-color: var(--color-gray);
    }
  }
}
