<div class="fast-about-us-container">
  <div class="text-section">
    <div class="title-section">
      <div class="image">
        <img src="/images/img-fast-about-us-01.jpg">
        <div class="info-image">
          <p class="title">Lorem ipsum</p>
          <p class="description">Lorem ipsum dolor sit amet, consectetur</p>
        </div>
      </div>
    </div>
    <div class="description-section">
      <p class="title">Acerca de nosotros</p>
      <p class="description">Empresa legalmente constituida bajo la razon social de Aventura y Experiencias Turísticas, Sa de CV e inscrita como Agencia de VIajes en el Registro Nacional de Turismo con el número 1234567890</p>
      <shared-btn-standard
        [btnText]="'Conoce más'"
        [btnStyle]="'4'"
      ></shared-btn-standard>
    </div>
  </div>
</div>



