<div class="fast-about-us-container">
  <div class="text-section">
    <div class="title-section">
      <p class="title">Acerca de nosotros</p>
      <shared-btn-standard
        [btnText]="'Conoce más'"
        [btnStyle]="'4'"
      ></shared-btn-standard>
    </div>
    <div class="description-section">
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis sem ante, id egestas metus convallis sit amet. Proin sollicitudin, ante at pellentesque accumsan, urna neque egestas dolor, ut pretium neque quam non mauris. In iaculis in purus vitae venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas felis et sollicitudin tristique. Maecenas ante massa, gravida at condimentum ac, dignissim eget odio. Praesent ullamcorper, est sit amet convallis accumsan, felis magna congue urna, in condimentum turpis tortor ac purus. Suspendisse fermentum, lectus ut tincidunt aliquet, augue turpis mattis mauris, sed condimentum odio quam vel dui.
        Sed efficitur tempus pretium. Maecenas et orci tellus. Aliquam tincidunt nunc eu elit accumsan posuere. Maecenas efficitur sed elit vestibulum placerat. Cras eros ipsum, tristique quis nunc ut, condimentum egestas nulla. Sed commodo mollis bibendum. Phasellus molestie enim non libero scelerisque suscipit. Fusce laoreet t</p>
    </div>
  </div>
</div>



