<div class="maintenance-banner-container">
  <div class="image">
    <img src="/images/img-tower-crane.svg" alt="logo-viahab"/>
  </div>
  <div class="text-section">
    <p class="title">¡Ooops! Bajo construcción.</p>
    <p>No te preocupes, creamos sitios web muy rápido.</p>
  </div>
  <div class="timer-section">
    <p class="number days">00</p>
    <p class="two-points">:</p>
    <p class="number hours">00</p>
    <p class="two-points">:</p>
    <p class="number minutes">00</p>
    <p class="two-points">:</p>
    <p class="number seconds">00</p>
  </div>
</div>
