<div class="fast-contact-container">
  <div class="fast-contact-wrapper">
    <div class="image">
      <img src="/images/img-airplane-color.png" alt="Avion"/>
    </div>
    <div class="text-section">
      <div class="message">
        <p class="title">Empecemos a planear.</p>
        <p class="description">Tu viaje soñado está a solo un clic. Cuéntanos qué tienes en mente y un experto en viajes te guiará para hacerlo realidad.</p>
      </div>
      <shared-txi-search-travel
        [btnText]="btnText"
        [txiPlaceholder]="txiPlaceholder"
        [txiIcon]="txiIcon"
      ></shared-txi-search-travel>
    </div>
  </div>
</div>
