@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Colors base */
  --color-primary: #713d90;
  --color-secondary: #272e63;
  --color-tertiary: #d6c5e2;
  --color-complementary-one: #67253d;
  --color-complementary-two: #141b4d;
  --color-primary-hover: #4b2960;
  --color-secondary-hover: #191e40;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;

  /* Neutrons */
  --color-white: #ffffff;
  --color-gray: #f3f3f3;
  --color-black: #000000;
  --color-dark-gray: #8e8e8e;
  --color-obscure-gray: #1d1d1d;

  /* Text */
  --text-color: #212529;
  --text-muted: #888888;

  /* Effects */
  --box-shadow: rgba(0,0,0,0.2);

  --font-main: "Alegreya Sans SC";
  --font-secondary: "AltivoRegular";
  --font-roboto: "Roboto Condensed";

  --font-size-super-giant-title: 64px;
  --font-size-giant-title: 48px;
  --font-size-title: 36px;
  --font-size-subtitle: 24px;
  --font-size-text: 18px;
  --font-size-small-text: 14px;
}

@font-face {
  font-family: 'AltivoRegular';
  src: url('/public/fonts/altivo-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
