<div class="footer-principal-container">
  <div class="footer-principal-wrapper">
    <div class="information">
      <img src="/images/logo-02.svg" alt="logo-viahab"/>
      <div class="address">
        <p>Calle #.</p>
        <p>Colonia, Alcaldia </p>
        <p>Ciudad de Mèxico, México</p>
      </div>
      <div class="social-media">
        <a href="https://www.facebook.com/people/Viahab/61575856996757/?mibextid=wwXIfr&rdid=xSs2aIXScL0U9Hu6&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1CMGpN1X2T%2F%3Fmibextid%3DwwXIfr" target="_blank"><img src="/icons/facebook-fill.svg" alt="facebook" class="logo" /></a>
        <a href="https://www.instagram.com/viahaboficial/?igsh=MXYzdHlmZjRjOWY0YQ%3D%3D#" target="_blank"><img src="/icons/instagram-fill.svg" alt="instagram"/></a>
        <a href="https://x.com" target="_blank"><img src="/icons/x-fill.svg" alt="X"/></a>
      </div>
    </div>
    <div class="sectur">
      <img src="/images/img-sectur-certificate.jpg" alt="logo-viahab"/>
      <img src="/images/img-sectur-logo.svg" alt="logo-viahab" class="logo" />
    </div>
    <div class="columns">
      <div class="column">
        <p class="title-column">Recursos</p>
        <a [routerLink]="['/document', 'terms']" target="_blank" rel="noopener">
          <p>Términos y condiciones</p>
        </a>
        <a [routerLink]="['/document', 'privacy']" target="_blank" rel="noopener">
          <p>Aviso de privacidad</p>
        </a>
        <a [routerLink]="['/faqs']" target="_blank" rel="noopener">
          <p>Preguntas frecuentes</p>
        </a>
      </div>
    </div>
  </div>
  <div class="cinta">
    <img src="/images/img-footer.png" alt="logo-viahab" class="logo" />
  </div>
</div>
