<div class="footer-principal-container">
  <div class="footer-principal-wrapper">
    <div class="information">
      <img src="/images/logo-02.svg" alt="logo-viahab" class="logo" />
      <div class="address">
        <p>Calle #.</p>
        <p>Colonia, Alcaldia </p>
        <p>Ciudad de Mèxico, México</p>
      </div>
      <div class="social-media">
        <a href="https://facebook.com" target="_blank"><img src="/icons/facebook-fill.svg" alt="facebook" class="logo" /></a>
        <a href="https://instagram.com" target="_blank"><img src="/icons/instagram-fill.svg" alt="instagram" class="logo" /></a>
        <a href="https://x.com" target="_blank"><img src="/icons/x-fill.svg" alt="X" class="logo" /></a>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <p class="title-column">Recursos</p>
        <a href="https://facebook.com" target="_blank"><p class="option">Aviso de privacidad</p></a>
        <a href="https://facebook.com" target="_blank"><p>Terminos y condiciones</p></a>
        <a href="https://facebook.com" target="_blank"><p>Documento turismo</p></a>
      </div>
    </div>
  </div>
  <div class="cinta">
    <img src="/images/cinta.png" alt="logo-viahab" class="logo" />
  </div>
</div>
